#MainBanner {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

#background-video {
  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  position: fixed; /* optional depending on what you want to do in your app */
  opacity: 0.5%;
}
#header {
  background-color: orange;
}

