.diamondback, .banshee, .orion, .copperheadStrikeLogo, .furyLift, .furyLogo, .gatekeeperLogo, .millenniumforce, .nighthawkLoop, .raptor, .steelVengeance, .steelVengeanceLogo, .valravnLogo, .wickedtwister{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;;
    width: 600px;
    height: 600px;
    margin: auto 10px;
}
